body
{
	margin: 0;
}

#header_bg
{
	width: 100%;
	height: 100px;
	background-color: #e7ffb7ff;
	position: absolute;
}

#home_link
{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	margin-left: -200px;
	background-color: #d1ff74ff;
}

#about_link
{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	margin-left: -100px;
	background-color: #d6ff85ff;
}

#designs_link
{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	margin-left: 0px;
	background-color: #ddff98ff;
}

#contact_link
{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	margin-left: 100px;
	background-color: #e4ffacff;
}

#pear2
{
	position: absolute;
	width: 600px;
	height: 600px;
	left: 50%;
	margin-left: -300px;
	margin-top: 200px;
}


#back
{
	width: 200px;
	height: 200px;
	margin-top: 400px;
	left: 50%;
	margin-left: -500px;
	position: absolute;
}

#next
{
	width: 200px;
	height: 200px;
	margin-top: 400px;
	right: 50%;
	margin-right: -500px;
	position: absolute;
}

#atdt
{
	width: 583px;
	height: 519px;
	position: absolute;
	left: 50%;
	margin-left: -292px;
	margin-top: 200px;
}

#jesus
{
	width: 538px;
	height: 290px;
	position: absolute;
	left: 50%;
	margin-left: -269px;
	margin-top: 350px;
}

#detroit
{
	position: absolute;
	left: 50%;
	margin-top: 425px;
	margin-left: -287px;
	width: 573px;
	height: 142px;
}

@media screen and (max-width: 950px)
{
	#atdt
	{
		width: 389px;
		height: 346px;
		margin-left: -195px;
		margin-top: 200px;
	}

	#jesus
	{
		width: 359px;
		height: 193px;
		margin-left: -180px;
		margin-top: 200px;
	}
	
	#detroit
	{
		width: 382px;
		height: 94px;
		margin-left: -191px;
		margin-top: 200px;
	}
	
	#pear2
	{
		width: 400px;
		height: 400px;
		margin-left: -200px;
		margin-top: 200px;
	}
	
	#back
	{
		width: 100px;
		height: 100px;
		margin-top: 100px;
		margin-left: -200px;
	}

	#next
	{
		width: 100px;
		height: 100px;
		margin-top: 100px;
		margin-right: -200px;
	}
}