body
{
	margin: 0;
}

#box
{
	position: absolute;
	margin-top: 225px;
	left: 50%;
	margin-left: -675px;
	width: 300px;
	height: 300px;
	background-color: #d1ff74ff;
}

#box2
{
	position: absolute;
	margin-top: 225px;
	left: 50%;
	margin-left: -1025px;
	width: 300px;
	height: 300px;
	background-color: #e4ffacff;
}

#box3
{
	position: absolute;
	margin-top: 225px;
	left: 50%;
	margin-left: 375px;
	width: 300px;
	height: 300px;
	background-color: #d1ff74ff;
}

#box4
{
	position: absolute;
	margin-top: 225px;
	left: 50%;
	margin-left: 725px;
	width: 300px;
	height: 300px;
	background-color: #e4ffacff;
}

#box5
{
	position: absolute;
	margin-top: 575px;
	left: 50%;
	margin-left: -675px;
	width: 300px;
	height: 300px;
	background-color: #d1ff74ff;
}

#box6
{
	position: absolute;
	margin-top: 575px;
	left: 50%;
	margin-left: -1025px;
	width: 300px;
	height: 300px;
	background-color: #e4ffacff;
}

#box7
{
	position: absolute;
	margin-top: 575px;
	left: 50%;
	margin-left: 375px;
	width: 300px;
	height: 300px;
	background-color: #d1ff74ff;
}

#box8
{
	position: absolute;
	margin-top: 575px;
	left: 50%;
	margin-left: 725px;
	width: 300px;
	height: 300px;
	background-color: #e4ffacff;
}


#img_home
{
	position: absolute;
	margin-top: 225px;
	left: 50%;
	margin-left: -325px;
	width: 300px;
	height: 300px;
}

#img_home2
{
	position: absolute;
	margin-top: 225px;
	left: 50%;
	margin-left: 25px;
	width: 300px;
	height: 300px;
}

#img_home3
{
	position: absolute;
	margin-top: 575px;
	left: 50%;
	margin-left: -325px;
	width: 300px;
	height: 300px;
}

#img_home4
{
	position: absolute;
	margin-top: 575px;
	left: 50%;
	margin-left: 25px;
	width: 300px;
	height: 300px;
}

}

#body_bg
{
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 200px;
	background-image: linear-gradient(to top, #d1ff74ff, white);
	
}

#about_content
{
	position: absolute;
	left: 450px;
	margin-top: 225px;
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	right: 25px;
}


#pear_header
{
	width: 200px;
	height: 200px;
	left: 200px;
	position: absolute;
}

#rjw_header
{
	width: 200px;
	height: 200px;
	position: absolute;
}

#home_link
{
	right: 600px;
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: #d1ff74ff;
}

#about_link
{
	right: 400px;
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: #d6ff85ff;
}

#designs_link
{
	right: 200px;
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: #ddff98ff;
}

#contact_link
{
	right: 0px;
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: #e4ffacff;
}

#header_bg
{
	width: 100%;
	height: 200px;
	background-image: linear-gradient(to left, #d1ff74ff, white);
	position: absolute;
	right:800px;
}

#about_img
{
	position: absolute;
	left: 25px;
	width: 400px;
	height: 400px;
	margin-top: 225px;
}

@media screen and (max-width: 800px)
{
	#home_bar
	{
		position: absolute;
		width: 100%;
		height: 200px;
		background-color: #d1ff74ff;
		margin-top: 200px;
	}
	
	#about_bar
	{
		position: absolute;
		width: 100%;
		height: 200px;
		background-color: #d6ff85ff;
		margin-top: 400px;
	}
	
	#designs_bar
	{
		position: absolute;
		width: 100%;
		height: 200px;
		background-color: #ddff98ff;
		margin-top: 600px;
	}
	
	#contact_bar
	{
		position: absolute;
		width: 100%;
		height: 200px;
		background-color: #e4ffacff;
		margin-top: 800px;
	}
	
	#rjw_header
	{
		display: none;
	}
	
	#pear_header
	{
		left: 50%;
		margin-left: -100px;
	}
	
	#home_link
	{
		left: 50%;
		margin-left: -100px;
		margin-top: 200px;
	}

	#about_link
	{
		left: 50%;
		margin-left: -100px;
		margin-top: 400px;

	}

	#designs_link
	{
		left: 50%;
		margin-left: -100px;
		margin-top: 600px;
	}

	#contact_link
	{
		left: 50%;
		margin-left: -100px;
		margin-top: 800px;
	}
	
	#about_content
	{
		display: none;
	}
	
	#about_img
	{
		display: none;
	}
	
	#header_bg
	{
		width: 100%;
		height: 200px;
		right: unset;
	}
	
	#img_home
	{
		display: none;
	}	
	
	#img_home2
	{
		display: none;
	}
	
	#img_home3
	{
		display: none;
	}
	
	#img_home4
	{
		display: none;
	}
}



@media screen and (max-width: 1200px) and (min-width: 801px)
{
	#header_bg
	{
		width: 100%;
		height: 400px;
		right: 400px;
	}
	
	#home_link
	{
		right: 200px;
	}

	#about_link
	{
		right: 0px;

	}

	#designs_link
	{
		right: 200px;
		margin-top: 200px;

	}

	#contact_link
	{
		right: 0px;
		margin-top: 200px;
	}
	
	#rjw_header
	{
		display: none;
	}
	
	#pear_header
	{
		width: 400px;
		height: 400px;
		left: 0px;
	}
	
	#about_content
	{
		left: 450px;
		margin-top: 425px;
		right: 25px;
	}
	
	#about_img
	{
		left: 25px;
		margin-top: 425px;
	}
	
	#img_home
	{
		margin-top: 425px;
	}	
	
	#img_home2
	{
		margin-top: 425px;
	}
	
	#img_home3
	{
		margin-top: 775px;
	}
	
	#img_home4
	{
		margin-top: 775px;
	}
	
	#box, #box2, #box3, #box4
	{
		margin-top: 425px;
	}
	
	#box5, #box6, #box7, #box8
	{
		margin-top: 775px;
	}
}



