body
{
	background-color: #5b5b5bff;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

h1
{
	margin: 0;
}

#pear
{
	width: 600px; 
	height: 600px;
}

#box
{
	width: 600px;
	margin: auto;
}

#header_mobile
{
	display: none;
}

#header_img
{
	width: 950px;
	height: 169px;
}

#header_box
{
	width: 950px;
	margin: auto;
}

#buttons_box
{
	width: 1550px;
	height: 126px;
	margin: auto;
}

#buttons_box_mobile
{
	display: none;
}

.button_properties
{
	width: 378px;
	height: 126px;
}

#icon_box
{
	width: 200px;
	margin: auto;
}

#icon_img
{
	width: 200px;
	height: 200px;
}

#design_box
{
	width: 833px;
	height: 667px;
	margin: auto;
	background-color: white;
	border-style: solid;
	border-color: black;
}

#black_design_box
{
	width: 833px;
	height: 667px;
	margin: auto;
	background-color: black;
	border-style: solid;
	border-color: black;
}

#atdt
{
	width: 728px;
	height: 649px;
}
#atdt_wrapper
{
	margin-left: 50px;
	padding-top: 10px;
}

.back_next
{
	width: 1000px;
	height: 75px;
	margin: auto;
}

.bn_properties
{
	width: 225px;
	height: 75px;
}

.bn_center
{
	margin-left: 275px;
}

.img_title
{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
	color: white;
}

.img_content
{
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	color: white;
}

.img_head
{
	width: 833px;
	height: 150px;
	margin: auto;
}

#jesus_wrapper
{
	padding-top: 150px;
	margin-left: 75px;
}

#jesus
{
	width: 896px;
	height: 483px;
}

#det_wrapper
{
	padding-top: 275px;
	margin-left: 25px;
}

#detroit
{
	width: 954px;
	height: 236px;
}

#det2_wrapper
{
	padding-top: 200px;
	margin-left: 65px;
}

#detroit2
{
	width: 874px;
	height: 373px;
}

#about_box
{
	margin: auto;
	width: 1000px;
	height: 1000px;
}

#about_img
{
	float: right;
	border: solid;
	border-color: black;
}

.about_content
{
	font-family: "Times New Roman", Times, serif;
	font-size: 35px;
	color: white;
}

#contact_box
{
	margin: auto;
	width: 1000px;
	height: 220px;
}

#contact_content
{
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
	color: white;
}

#lifeguards_wrapper
{
	padding-top: 200px;
	margin-left: 165px;
}

#lifeguards
{
}

#yana_wrapper
{
	padding-top: 240px;
	margin-left: 17px;
}

#yana
{
	width: 965px;
	height: 297px;
}

@media screen and (max-width: 800px)
{
	#pear
	{
		width: 400px;
		height: 400px;
	}

	#box
	{
		width: 400px;
		margin: auto;
	}

	#header_mobile
	{
		display: block;
		width: 300px;
		height: 300px;

	}

	#header_img
	{
		display: none;
	}

	#header_box
	{
		width: 300px;
	}

	#pear
	{
		display: none;
	}

	#icon_img
	{
		display: none;
	}

	#buttons_box
	{
		display: none;
	}

	#buttons_box_mobile
	{
		display: block;
		margin: auto;
		width: 378px;
	}

	#about_img
	{
		width: 250px;
		height: 480px;
	}

	#about_box
	{
		width: 400px;
		height: 400px;
	}

	.about_content
	{
		font-size: 25px;
	}

	#contact_box
	{
		width: 400px;
	}

	#contact_content
	{
		font-size: 25px;
	}
}